@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    .form{
        width: 60%;
        margin-top: 50px;
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    .form{
        width: 70%;
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    .form{
        width: 90%;
        margin-top: 40px;
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 320px;
    }

    header{
        img{
            width: 100%;
        }
    }

    .form{
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
        text-align: center;

        form{
            padding-left: 0;
            padding-right: 0;
        }
    }

    body{
        padding-bottom: 10px;
    }
}